---
# tasks file for entorno_basico
# Rol: entorno_basico
# Descripción: Preparación inicial del servidor, instalación de paquetes y configuración básica

- name: Actualizar el sistema
  apt:
    update_cache: yes
    upgrade: dist
  become: yes

- name: Configurar zona horaria
  timezone:
    name: "{{ timezone }}"
  become: yes

- name: Configurar hostname
  hostname:
    name: "{{ server_hostname }}"
  become: yes
  notify: Reiniciar hostname

- name: Instalar herramientas básicas
  apt:
    name: "{{ basic_tools }}"
    state: present
    update_cache: yes
  become: yes

- name: Configuración básica de firewall (UFW)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ ufw_allowed_ports }}"
  become: yes
  notify: Reiniciar UFW

- name: Habilitar UFW
  ufw:
    state: enabled
  become: yes
