---
# tasks file for users

- name: Create devops group
  group:
    name: devops
    state: present

- name: Create administrative users
  user:
    name: "{{ item }}"
    group: sudo
    shell: /bin/bash
    state: present
    password: "{{ user_password_hash }}"
  loop: "{{ admin_users }}"

- name: Create DevOps users
  user:
    name: "{{ item }}"
    group: devops
    shell: /bin/bash
    state: present
    password: "{{ user_password_hash }}"
  loop: "{{ devops_users }}"

- name: Create .ssh directory for each user
  file:
    path: "/home/{{ item }}/.ssh"
    state: directory
    owner: "{{ item }}"
    group: sudo
    mode: '0700'
  loop: "{{ admin_users + devops_users }}"

- name: Copy public key from control host to each user
  authorized_key:
    user: "{{ item }}"
    state: present
    key: "{{ lookup('file', ssh_public_key_path) }}"
  loop: "{{ admin_users + devops_users }}"
